body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
}

canvas {
    position: absolute;
}

#overlay {
    z-index: 20;
}

h1, h2 {
    position: absolute;
    width: 20%;
    left: 40%;
    position: absolute;
    text-align: center;
    font-size: 300%;
    font-style: oblique;
    color: white;
    background-color: rgb(56, 66, 56);
    border-style: solid;
    border-radius: 4%;
    border-color: rgb(202, 160, 22);
}

h1 {
    top: 1%;
}

h2 {
    bottom: 1%;
}